.App {
  text-align: center;
}

#root{background-color: #ef9e3e;
    min-height: -webkit-fill-available;}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
	font-family: BadassMoon;
	src: url(font/BadassMoon.ttf);
}


/*********HEADER************/
.header a{color: white !important}
.header .dropdown-item{color:black !important}
.userConnect {color:white; margin-right: 10px}
.sign-out{text-transform:uppercase;
	color:#fff;
	display:block;background:red;
	border:none;
	padding:5px 10px;
	border-radius:25px;}

.sign-in{
	text-transform:uppercase;
	color:#fff;
	display:block;background:#1161ee;
	border:none;
	padding:5px 10px;
	border-radius:25px;}

.header img{
	height: 20px !important;
}

.header a img{
	margin-right: 8px
}

.dropdown-item img{margin-right: 5px}

/*********CONTENIDO************/

.card{
	background-color: rgba(250, 250, 250, 0.8) !important;
	margin-bottom: 10px
}
.contenido{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.account{
	background-color: #343a40;
	padding-top: 30px;
	padding-bottom: 30px
}
	
.contenido button img {
	height: 20px !important; 
	margin-right: 5px
}
.desayuno .card,
.almuerzos .card,
.sandwitch .card{
	width: calc(33% - 10px); 
	margin-right:10px;
	margin-top: 10px;
}


.desayuno .card img,
.almuerzos .card img,
.sandwitch .card img{
	height: 100px; 
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px}
	
.btn.btn-primary{
	margin-left: auto;
	margin-right: auto}

.form-ingreso{
	border: 1px solid rgba(0,0,0,.125);
	padding:10px}

.tabs img{
	height: 20px;
	margin-right: 5px}

.contenido h1 img{width: 40px}

.titulo{
	font-family: BadassMoon;
	font-size: 7rem !important;
	text-align: center;
}

.no-contenido{
	font-family: BadassMoon;
	font-size: 7rem !important;
	text-align: center;

}

.no-contenido.dark .agregar{
	margin-bottom: -60px
}

.no-contenido.dark .agregar a.agregar {
	text-transform: uppercase; 
    background: transparent;
    border: none;
}

.no-contenido.dark .agregar a.agregar:focus{
	outline: none
}

.no-contenido.dark .agregar a.agregar img{
	height: 74px !important;
}

.btn.btn-primary img{
	height: 20px;
	margin-right: 5px
}

.form-ingreso .btn.btn-primary{
	margin-right: 10px;
	margin-top:10px;
	margin-left: initial;
}

.buttons{
	display: flex;
	justify-content: center;
}
.spinnerP{
	text-align: center; 
	margin-top: 15px;
	font-family: BadassMoon;
	font-size: 5rem;
	
}
.spinnerP .spinner{margin: 0px auto;}

.spinnerP img {height: 40px; margin-right: 5px}

.ubicacion{width: 100%; display: inline-block !important; background: transparent !important; border: none !important}

.ubicacion img{width: 20%; float: left;}

.ubicacion .card-body{width: 80%;float: right;}

.ubicacion .card-body .texto{width: 80%; float: left; text-align: center}

.ubicacion .card-body .card-title{font-family: BadassMoon;
	font-size: 5rem}

.ubicacion .card-body .card-text{
	font-size: 2rem}

.ubicacion .card-body img{width: 20%; float: right;}

.form-ingreso{
	background-color: #343a40; 
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border: none !important}

.no-contenido.dark{
	background-color: #343a40; 
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border: none !important;
	color:white}

.form-ingreso label{color: white}

.nav-link.active{
	background-color: #343a40 !important; 
	color:white !important
}

.nav-tabs .nav-link{
	border:none !important;
	color:black
}
.nav-tabs {border-bottom: none !important}

.precio{
	font-size:1.35em
}

.precio img, .badge img{
	height: 25px !important;
	width: 25px !important;
	margin-top: 0 !important;
	margin-right: 5px !important
}

.descripcion{
	font-size:0.8rem
}

.badge{
	margin-left: 5px
}

.alert.seleccion{
	float: left;
    width: auto !important;
    height: min-content;
    margin-top: 5px !important;
    width: fit-content !important;
    position: absolute !important;
    margin-top: 5px;
    right: 10px;
	bottom: 10px;
	left: initial !important;
	margin-bottom: 0 !important
}

.alert img{
	height: 20px;
	width: 20px;
	margin-right: 5px
}

.total{
	width: 100% !important;
	display: block !important;
	background-color: transparent !important;
	border: none !important
}

.total .badge{
	width: fit-content !important;
	font-size: 25px;
	float: right;
}

.total .btn{
	float: right;
	margin-left: 10px !important
}

.total .btn img{
	height: 20px;
	width: 20px;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important


}

/*********LOGIN************/
.alert{
    float: left;
    width: auto;
    height: auto;
    position: absolute !important;

    z-index: 1;
    left: calc(50% - 161px);
    margin-top: 5px
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}